<h1>Woot! My first view.</h1>

<p>My First view as a very fine view.</p>

<p>A *very* fine view, indeed.</p>

<!-- This is an ERB command. The = sign means that it will evaluate the Ruby code and echo the result into our document -->

<%= link_to 'About Us', about_us_path %>

<!-- link_to 'Text content of <a> tag', name_of_route_path'
That will build the following html:
<a href="/about_us">About Us</a>-->